<template name = "nav">
  <div class="container">
  <div class="row top-buffer"></div>
  <div class="row">
    <div class="col-xs-4">
      <h4>Meteor Showers</h4>
    </div>
    <div class="col-xs-4">
      <div class="liveaddress text-center">
        <input type="text" id="input" placeholder="address" size="30">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{> weather}}
    </div>
  </div>
  <div class="shower"></div> 
  <div class="info">
    v1.0 20140613
    by Jonarnaldo@gmail.com <a href="https://github.com/jonarnaldo/meteorshowers">Git it!</a>
  </div>
</div>
</template>